{% extends "painel.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('aluno.static', filename='css/aluno.css')}}">
{% endblock %}
{% block title %}Painel::Aluno::Edit{% endblock%}

{% block page %}
<div class="container">
    <form method="post">
        
        <p><input type="text" name="nome" value="{{ row.nome }}"></p>
        <p><input type="text" name="cpf" value="{{ row.cpf }}"></p>
        <p><input type="text" name="nascimento" value="{{ row.nascimento.strftime('%d/%m/%Y') }}"></p>
        <input type = "submit" value="Salvar">
        <a href="{{ url_for('aluno.index')}}" class="cancela">Retornar</a>
    </form>
</div>
{% endblock %}