{% extends "painel.html" %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('admin.static', filename='css/datatables.min.css')}}">
<link rel="stylesheet" href="{{ url_for('aluno.static', filename='css/aluno.css')}}">
{% endblock %}
{% block title %}{{ title }}{% endblock%}

{% block page %}
<table id="data" class="table table-hover">
    
    <thead class="table-dark">
        <tr>
            <th >ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data Nascimento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td >{{row.id}}</td>
                <td><a href="{{ url_for('aluno.view', id=row.id)}}">{{row.nome|title}}</a></td>
                <td>{{ row.cpf}}</td>
                <td>{{ row.nascimento.strftime('%d/%m/%Y') }}</td>
                <td>
                    <div class="d-flex ms-auto">
                        <a href="{{ url_for('aluno.edit', id=row.id)}}" class="btn btn-secondary" style="height: 32px;"  data-toggle="tooltip" data-placement="top" title="Edita">
                            <i class="material-icons  md-light md-18">edit</i>
                        </a>
                        <a href="{{ url_for('aluno.delete', id=row.id) }}" class="btn btn-danger" style="height: 32px; margin-left: 15px;"  data-toggle="tooltip" data-placement="top" title="Delete">
                            <i class="material-icons  md-light md-18">delete</i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block script %}
{{ super() }}

<script src="{{ url_for('admin.static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('admin.static', filename='js/dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('admin.static', filename='js/bootstrap.bundle.min.js')}}"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $('#data').DataTable({
        info: false,
    
        columnDefs: [
            {
                target: 3,
                searchable: false,
            },
            {
                target:0,
                visible: false
            }
        ],
        // dom: 'Bfrtip',
        dom: '<"toolbar">frtip'
        });

        $('div.toolbar').html("<a class='btn btn-primary btn-new' href={{ url_for('aluno.new') }}><i class='material-icons md-light md-24'>add</i>Cadastrar Novo</a>")
</script>
{% endblock %}