{% extends "painel.html" %}
{% import '_pagination.html' as f %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('aluno.static', filename='css/aluno.css')}}">
{% endblock %}
{% block title %}Painel::Aluno{% endblock%}
{% block page %}

<div class="table">
    <div class="tr th">
        <div class="td">ID</div>
        <div class="td">Nome</div>
        <div class="td">CPF</div>
        <div class="td">Data Nascimento</div>
        <div class="td" style="flex-grow: 2;">Ações</div>
    </div>
    {% for row in rows.items %}
    <div class="tr">
        <div class="td" style=" justify-content: center;" id="{{ row.id }}">{{ row.id }}</div>
        <div class="td" style="justify-content: center;">{{ row.nome }}</div>
        <div class="td" style="justify-content: center;">{{row.cpf }}</div>
        <div class="td" style="justify-content: center;">{{ row.nascimento.strftime('%d/%m/%Y') }}</div>
        <div class="td" style="justify-content: center;"><i class="material-icons">edit</i><a href="{{ url_for('aluno.edit', id=row.id) }}">Edita</a></div>
        <div class="td" style="justify-content: center;"><i class="material-icons">delete</i><a href="{{ url_for('aluno.delete', id=row.id) }}">Deleta</a></div>
    </div>
    {% endfor %}

    
</div>
<div class="pagination">
    {% if rows.has_prev %}<a href="{{ url_for('aluno.index', pages=rows.prev_num) }}">&laquo; Prev</a>{% else %}&laquo; Prev{% endif %} |
    
    {% for page_num in rows.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if rows.page == page_num %}
                <a href="{{ url_for('aluno.index', pages=page_num)}}"> {{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('aluno.index', pages=page_num)}}"> {{ page_num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if rows.has_next %}<a href="{{ url_for('aluno.index', pages=rows.next_num) }}">Next &raquo;</a>{% else %}Next &raquo;{% endif %}
</div>

{% endblock %}