<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/painel.css')}}">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/alert.css')}}">
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/bootstrap.min.css')}}">
    {% block head %}{% endblock %}
</head>
<title>{% block title %}{% endblock %}</title>

{% block body %}

<main>
    {% include 'partials/_header.html' %}
    <app>
        {% include 'partials/_navbar.html' %}        
        <article>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}        
                    {% for category, message in messages %}
                    <div class="alert {{ category }}">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong class="titulo_msg">{{ category|capitalize }}! </strong> {{ message }}
                    </div> 
                    {% endfor %}   
                {% endif %}
            {% endwith %}
            {% block page %}{% endblock%}    
        </article>        
    </app>
</main>
{% endblock %}

{% block script %}
<script src="{{ url_for('admin.static', filename='js/jquery-3.6.0.min.js')}}"></script>

<script>
    setTimeout(function(){
        $(".alert").hide()
    }, 2000);
</script>
{% endblock%}